.container{
  width: 320px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}
.pallete{
  display: block;
  margin: 0;
  padding: 0;
  height: 30px;
  border: 1px solid black;
  width: 320px;
}
#color-choice{
  width: 300px;
  height: 100px;
}
.color{
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin-right: -4px;
  padding: 0;
  border-collapse: collapse;
}
.row{
  display: block;
  margin: 0;
  padding: 0;
  height: 32px;
}
.cell{
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
