.container{
  min-width: 100%;
}
.row{
  display: block;
  margin: 0;
  padding: 0;
}
.cell{
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
